<div class="container my-3">
    <div class="jumbotron">
        <h1 class="display-4">About Todo App</h1>
        <p class="lead">This is a basic Todo web app, which uses your local storage to store todos. It is developed using Angular framework with bootstrap to provide good-looking UI.</p>
        <p class="lead">If you loved it, then give it a star. 😉</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="https://github.com/roshan9419/InitialAngularProject" target="_blank" role="button">Source Code</a>
    </div>
</div>